{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-4" href="{% url 'index' %}"><img src="{% static 'img/logo/logo-dark-bg-64.png' %}" id='logo' alt=""> Dream Homes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <!-- Home -->
            {% if '/' == request.path %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                </li>

          <!-- GitHub -->
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Salaah01/dream-homes" target="_blank"><i class="fab fa-github"></i> GitHub</a>
            </li>

        </ul>
        <ul class='navbar-nav mr-4'>
            {% if user.is_authenticated %}

                <!-- Dashboard -->
                {% if 'dashboard' in request.path %}
                    <li class='nav-item active'>
                {% else %}
                    <li class='nav-item'>
                {% endif %}
                        <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-clipboard-list"></i> Welcome {{ user.first_name }} (Dashboard)</a>
                    </li>

                <!-- Logout -->
                <li class="nav-item">
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    <form action="{% url 'logout' %}" method="POST" id='logout'>
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>

            {% else %}

                <!-- Register -->
                {% if 'register' in request.path %}
                    <li class="nav-item active">
                {% else %}
                    <li class="nav-item">
                {% endif %}
                        <a class='nav-link' href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register</a>
                    </li>

                <!-- Login -->
                {% if 'login' in request.path %}
                    <li class='nav-item active'>
                {% else %}
                    <li class="nav-item">
                {% endif %}
                        <a class='nav-link' href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
            {% endif %}
                
        </ul>
    </div>
</nav>