<div id="search-bar">
  <form action="{% url 'search' %}" class="search-bar-container" method="GET">
    <!-- Keywords -->
    <div class="search-element" id="keyword-container">
      <input
        type="text"
        name="keywords"
        id="keywords"
        class="form-control"
        placeholder="Keywords"
        aria-describedby="keywordsHelp"
        value="{{ values.keywords }}"
      />
      <small id="keywordsHelp" class="form-text"
        >Separate each keyword using a comma</small
      >
    </div>
    <!-- Location -->
    <div class="search-element" id="location-container">
      <input
        type="text"
        name="location"
        id="location"
        class="form-control"
        placeholder="Location"
        aria-describedby="locationHelp"
        value="{{ values.location }}"
      />
      <small id="locationHelp" class="form-text"
        >Enter the city/town/postcode</small
      >
    </div>
    <!-- Number of Bedrooms -->
    <div class="search-element" id="bedroom-container">
      <select name="bedrooms" id="bedrooms" class="form-control">
        <option selected='true' disabled='disabled'>Bedrooms</option>
        {% for key, value in bedroom_choices.items %}
          <option value="{{ key }}"
            {% if key == values.bedrooms %}
              selected
            {% endif %}
          >{{ value }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- Max Price -->
    <div class="search-element" id="price-container">
      <select name="price" id="price" class="form-control">
        <option selected='true' disabled='disabled'>Max Price</option>
        {% for key, value in price_choices.items %}
          <option value="{{ key }}"
            {% if key == values.price %}
              selected
            {% endif %}
          >{{ value }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- Submit Button -->
    <div class="search-element" id='submit-btn-container'>
      <button type="submit" id='search-submit' class='btn'>Search</button>
    </div>
  </form>
</div>
