/* Body BG */

body {
    background-color: #f5f5f5;    
}

/* Pop Ups */
.hidden {
    display: none;
}

.darken {
    filter: brightness(0.6)
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
}

.listing {
    min-height: 100%;
    background-color: #fff;
    transition: filter 0.3s ease;
}

section:first-of-type {
    padding-top: 60px;
}

/* Colours */

.btn,
a.btn,
a.btn:visited {
    background-color: #24afce;
    color: white;
    border: 0;
}

.btn:hover,
.btn:visited,
.btn:active,
a.btn:hover,
a.btn:active {
    background-color: #1e95af;
    color: white;
    border: 0;
}

.primary-color {
    color: #24afce;
}

.primary-bg-color {
    background: #24afce;
    color: #fff;    
}

.highlight-color {
    color: #FF8985;
}

.highlight-bg-color,
a.btn.highlight-bg-color {
    background-color: #FF8985;
    color: #fff;
}

.btn.highlight-bg-color:hover {
    background-color: rgb(207, 111, 107);
    color: #fff;
}

/* Search Bar Partial */

#search-bar .row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    justify-content: space-around;
    align-self: center;
    width: 95%;
}

#search-bar .search-element {
    padding-left: 5px;
    padding-right: 5px;
}

#search-bar .btn {
    border: 1px solid transparent;
}