{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/base_accounts.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/base_accounts-queries.css' %}">
{% endblock %}
{% block title %} | Welcome {% endblock %}

{% block content %} 


<!-- Messages -->
<section class="message-alert">
    <div class="row">
        {% include 'partials/_messages.html' %}
    </div>
</section>

<section id="login">
    <!-- Login -->
    <div id="login-container">
        <div id="heading">
            <h1 class="display-4">Login</h1>
        </div>
        <div id="form-elements">
            <form action="" method="POST" id='form-login'>
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                </div>
                <div class="row" id="form-buttons">
                    <button type="submit" class="btn">Login</button>
                    <a href="{% url 'register' %}" class="btn primary-bg-color">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}