{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140882710-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140882710-1');
    </script>

    <meta charset="UTF-8">
    <meta name="description" content="Search for your dream home and speak to your estate agent who will happy to make your dream come true.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"}>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base-queries.css' %}">
    <link rel="stylesheet" href="{% static 'css/favicon.css' %}">
    {% block head %}{% endblock %}
    <link rel="icon" type='image/png' sizes='32x32' href="{% static 'img/logo/logo.png' %}">
    <title>Dream Homes{% block title %}{% endblock %}</title>
</head>
<body>

    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}

    {% block content %}{% endblock %}

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block footer %}{% endblock %}
</body>
</html>