section#message-form {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#button-container {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.btn-msgsend {
    background-color: #e2bd4e;
    color: #40361a;
    font-weight: 600;
}

.btn-msgsend:hover,
.btn-msgsend:visited {
    background-color: #b99a3e;
    cursor: pointer;
}

.form-group textarea,
.form-group input {
    background: rgba(158, 158, 158, 0.30);
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

.form-group textarea:focus,
.form-group input:focus,
.form-group textarea:hover,
.form-group input:hover {
    background: rgba(199, 199, 199, 0.3);
}