/* ========================================= */
/* TOP CONTAINER */
/* ========================================= */

#top-container {
    background-image: url("../img/index-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 570px;
    width: 100%;
}

#search-box {
    text-align: center;
    color: #fff;
    background-color: #505050b7;
    margin-top: 30px;
}

small {
    text-align: left;
}

#search-submit {
    width: 80%;
    margin: auto;
}

/* ========================================= */
/* LATEST LISTINGS */
/* ========================================= */

#latest-listings {
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.card img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

#latest-listings .btn.price {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
    -webkit-box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.473);
            box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.473)
}

.card:first-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    cursor: pointer;
    overflow: hidden;
}

.card:first-of-type:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
}

.card:last-of-type {
    margin-bottom: 75px;
    padding-bottom: 30px;
    margin-top: 0;
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

p.card-text {
    margin: 2px 12px 0 12px;
    font-size: 1.1em;
    font-weight: 400;
}

#listing-title {
    margin-top: 30px;
}

.card-img-overlay {
    z-index: 0;
}

.card img {
    height: 230px;
}